<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
			http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-3.1.xsd
			http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd"
	default-lazy-init="true">

	<!-- 本地 -->
	<bean id="elendDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">

		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="${p2pweb.jdbc.url}" />
		<property name="user" value="${p2pweb.jdbc.username}" />
		<property name="password" value="${p2pweb.jdbc.password}" />

		<property name="initialPoolSize" value="1" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="5" />
		<property name="maxIdleTime" value="7200" />

		
		<property name="acquireIncrement" value="5" />
		<property name="acquireRetryAttempts" value="2" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="breakAfterAcquireFailure" value="false" />

		<property name="checkoutTimeout" value="200000" />

		<property name="autoCommitOnClose" value="false" />
		<property name="forceIgnoreUnresolvedTransactions" value="false" />
		<property name="unreturnedConnectionTimeout" value="2000" />
		
		<property name="maxStatements" value="0" />
		<property name="maxStatementsPerConnection" value="0" />
		<property name="usesTraditionalReflectiveProxies" value="false" />
		<property name="numHelperThreads" value="5" />
		
		
		<property name="preferredTestQuery" value="SELECT 1;" />
		<!-- 单位 ms -->
    	<property name="idleConnectionTestPeriod" value="2000" />
    	<property name="testConnectionOnCheckout" value="true" />
        
	</bean>
	


	<!-- 事务管理-->
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="elendDataSource"/>
	</bean>
	
	<tx:advice id="elendTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="load*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="list*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="query*" read-only="true" propagation="SUPPORTS"/>
			<!-- other methods use the default transaction settings (see below) -->
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<!-- 
	<aop:config>
		<aop:pointcut id="elendServiceOperation" expression="execution(* com.elend.p2p.service.impl..*.*(..))"/>
		<aop:advisor advice-ref="elendTxAdvice" pointcut-ref="elendServiceOperation"/>
	</aop:config>
	 -->
	 
	<!-- 用注解来实现事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	 
	
    <!-- springjdbc方式 -->
	<bean id="elendJdbcTemplate"  class = "org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="elendDataSource" />
	</bean>
	
	  	<!-- 分布式session支持 -->
    <bean id="sessionMemcache" class="com.elend.p2p.util.memcached.MemcacheWithBackupImpl" init-method="init" destroy-method="destroy">
		<property name="maxConn" value="400" />
		<property name="servers" value="memcached1.p2p.gzdai.com:11211"/>
		<property name="bakServers" value="memcached2.p2p.gzdai.com:11211"/>
	</bean>
	
	<bean id="distributedSessionFilter" class="com.elend.p2p.session.SessionFilter" lazy-init="false">
		<property name="memcache" ref="sessionMemcache" />
		<property name="jsessionid" value="DISTRIBUTED_SESSIONID" />
	</bean>
	
	
	<bean id="normalMemcache" class="com.elend.commons.memcache.MemcacheImpl" init-method="init" destroy-method="destroy">
		<property name="servers" value="memcached1.p2p.gzdai.com:11211,memcached2.p2p.gzdai.com:11211"/>
		<property name="maxConn" value="400" />
	</bean>
	
    <bean id="memcachedLock" class="com.elend.p2p.util.memcached.MemcachedLock">
		<property name="memcached" ref="normalMemcache"/>
		<property name="prefix" value="mapLock:" />
	</bean>
	
	<!-- 用作计数器的memcached（风控计数、SendMessageHelper发送短信计数）-->
    <bean id="counterMemcache" class="com.elend.p2p.util.memcached.CounterMemcacheImpl" init-method="init" destroy-method="destroy">
		<property name="servers" value="memcached1.p2p.gzdai.com:11211,memcached2.p2p.gzdai.com:11211"/>
		<property name="maxConn" value="300" />
	</bean>
	
</beans>
